*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 65%;
  margin: 80px auto;
}
a{
  text-decoration: none;
  color: $grey;
  scale: 1.5;
  &:hover{
    color: $white;
    border: 1px solid $grey;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
ul{
  list-style: none;
}
.line{
  margin-top: 14px;
  margin-right: 10px;
  border-top: 1px solid $grey;
  width: 50px;
  color: grey;
}
.white-card{
  color: $grey;
}